/**
 * @file
 * Groundwork Front-end Framework for Drupal
 * by JohnNoc (http://drupal.org/user/70994)
 * Learn more ~ http://groundwork.noceda.me
 *
 * This file contains the generated CSS from the default styles of the LESS
 * files. You are encouraged to use the LESS functionality of Groundwork to
 * maximize its potential.
 *
 * Please correct the theme path of your fonts below if you will use this file.
 *
 */

@font-face {
  font-family: "Noceda Font Pro";
  src: url('/sites/all/themes/negosyante/fonts/nocedafont-pro/noceda-font-pro-v1.eot');
  src: url('/sites/all/themes/negosyante/fonts/nocedafont-pro/noceda-font-pro-v1.eot?#iefix') format('embedded-opentype'), url('/sites/all/themes/negosyante/fonts/nocedafont-pro/noceda-font-pro-v1.woff') format('woff'), url('/sites/all/themes/negosyante/fonts/nocedafont-pro/noceda-font-pro-v1.ttf') format('truetype'), url('/sites/all/themes/negosyante/fonts/nocedafont-pro/noceda-font-pro-v1.svg#Noceda Font Pro') format('svg');
  font-weight: 400;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}
body {
  background: #e6e6e6;
  color: #333333;
  font-family: "Noceda Font Pro", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.71428571430;
  margin: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
.lt-ie8 audio,
.lt-ie8 canvas,
.lt-ie8 video {
  display: inline;
  zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
  color: #005e99;
  text-decoration: none;
}
a:visited {
  color: #005e99;
}
a:hover {
  color: #d34d00;
  outline: 0;
}
a:focus {
  outline: thin dotted;
}
a:active {
  outline: 0;
}
a:focus,
a:active,
a.active,
li a.active {
  color: #000000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noceda Font Pro", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
h1,
h2,
h3,
h4 {
  margin: 24px 0;
}
h5,
h6 {
  margin: 12px 0;
}
h1 {
  font-size: 44px;
  font-size: 4.4rem;
}
h1.page-title {
  margin-top: 0;
}
h2 {
  font-size: 37px;
  font-size: 3.7rem;
}
h3 {
  border-bottom: 1px dotted #666666;
  font-size: 27px;
  font-size: 2.7rem;
}
h4 {
  font-size: 23px;
  font-size: 2.3rem;
}
h5 {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
}
h6 {
  font-size: 14px;
  font-size: 1.4rem;
}
abbr[title] {
  border-bottom: 1px dotted #666666;
}
address {
  display: block;
  font-style: normal;
  margin-bottom: 24px;
  margin-top: 0;
}
blockquote {
  margin: 0 24px 24px;
}
blockquote p {
  font-size: 12px;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 0;
  padding-left: 12px;
}
blockquote p:before,
blockquote p:after {
  content: "";
}
blockquote p small {
  display: block;
}
blockquote p small:before {
  content: '\2014 \00A0';
}
code {
  font-family: Consolas, Monaco, "Courier New", Courier, monospace;
  font-size: 14px;
  font-size: 1.4rem;
}
del {
  text-decoration: line-through;
}
dfn {
  font-style: italic;
}
hr {
  border: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  clear: both;
  float: none;
  height: 1px;
  margin: 0 0 24px;
  width: 100%;
}
kbd {
  font-family: Consolas, Monaco, "Courier New", Courier, monospace;
  font-size: 14px;
  font-size: 1.4rem;
}
mark {
  background: #ff0;
  color: #000;
}
p {
  margin: 0 0 24px 0;
}
p:last-child {
  margin-bottom: 0;
}
p a,
p a:visited {
  line-height: inherit;
}
pre {
  display: block;
  font-family: Consolas, Monaco, "Courier New", Courier, monospace;
  font-size: 14px;
  font-size: 1.4rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
samp {
  font-family: Consolas, Monaco, "Courier New", Courier, monospace;
  font-size: 14px;
  font-size: 1.4rem;
}
strong,
b {
  font-weight: bold;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
q:before,
q:after {
  content: "";
}
small {
  font-size: 12px;
  font-size: 1.2rem;
}
sub,
sup {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 0 0 24px 24px;
  padding: 0;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
  padding: 0;
}
ul {
  list-style-type: disc;
}
.item-list ul {
  margin: 0 0 12px;
}
ul ul li {
  list-style-image: url("/misc/menu-leaf.png");
  list-style-type: square;
}
ol {
  list-style-type: decimal;
}
ol ol li {
  list-style-type: lower-alpha;
}
dl {
  margin: 0 0 24px 12px;
}
dl dt {
  font-weight: bold;
  margin: 0;
}
dl dd {
  margin: 0 0 0 24px;
}
img {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 3px 12px;
  padding: 6px;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0;
}
button,
input {
  line-height: 24px;
  line-height: 2.40000000002rem;
}
button,
select {
  text-transform: uppercase;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  max-width: 100%;
}
input[type="checkbox"],
input[type="radio"],
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 24px;
  width: 100%;
  max-width: 100%;
}
th {
  font-weight: bold;
}
th,
td,
caption {
  padding: 0;
}
tfoot {
  font-style: italic;
}
caption {
  font-weight: bold;
}
.sticky-header th,
.sticky-table th {
  padding-right: 1em;
  text-align: left;
}
#page,
.wrapper {
  display: block;
  padding: 0;
  margin: 0;
  outline: 0;
  vertical-align: baseline;
  width: 100%;
}
#page:before,
#page:after,
.wrapper:before,
.wrapper:after {
  content: "";
  display: table;
}
#page:after,
.wrapper:after {
  clear: both;
}
.lt-ie8 #page,
.lt-ie8 .wrapper {
  zoom: 1;
}
#topbar,
#header,
#main-menu,
#navigation,
#billboard,
#placard,
#main-container,
#supplement,
#appendix,
#rider,
#footer,
#secondary-menu,
#theme-attribution {
  margin: 0 12px;
  width: auto;
  min-width: 240px;
}
#topbar:before,
#topbar:after,
#header:before,
#header:after,
#main-menu:before,
#main-menu:after,
#navigation:before,
#navigation:after,
#billboard:before,
#billboard:after,
#placard:before,
#placard:after,
#main-container:before,
#main-container:after,
#supplement:before,
#supplement:after,
#appendix:before,
#appendix:after,
#rider:before,
#rider:after,
#footer:before,
#footer:after,
#secondary-menu:before,
#secondary-menu:after,
#theme-attribution:before,
#theme-attribution:after {
  content: "";
  display: table;
}
#topbar:after,
#header:after,
#main-menu:after,
#navigation:after,
#billboard:after,
#placard:after,
#main-container:after,
#supplement:after,
#appendix:after,
#rider:after,
#footer:after,
#secondary-menu:after,
#theme-attribution:after {
  clear: both;
}
.lt-ie8 #topbar,
.lt-ie8 #header,
.lt-ie8 #main-menu,
.lt-ie8 #navigation,
.lt-ie8 #billboard,
.lt-ie8 #placard,
.lt-ie8 #main-container,
.lt-ie8 #supplement,
.lt-ie8 #appendix,
.lt-ie8 #rider,
.lt-ie8 #footer,
.lt-ie8 #secondary-menu,
.lt-ie8 #theme-attribution {
  zoom: 1;
}
#node-aside {
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  #topbar,
  #header,
  #main-menu,
  #navigation,
  #billboard,
  #placard,
  #main-container,
  #supplement,
  #appendix,
  #rider,
  #footer,
  #secondary-menu,
  #theme-attribution {
    width: 768px;
    min-width: 768px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
  #branding,
  #header-annex,
  #main,
  #sidebar-first,
  #sidebar-second {
    display: inline-block;
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
  }
  .lt-ie8 #branding,
  .lt-ie8 #header-annex,
  .lt-ie8 #main,
  .lt-ie8 #sidebar-first,
  .lt-ie8 #sidebar-second {
    display: inline;
    zoom: 1;
  }
  .region-navigation {
    text-align: left;
  }
  .region-navigation ul {
    text-align: left;
  }
  #theme-attribution p,
  #main-menu-list,
  #secondary-menu-list,
  body.no-sidebars #main {
    width: 744px;
  }
  #branding {
    width: 488px;
  }
  #header-annex {
    width: 232px;
  }
  #sidebar-first {
    width: 232px;
  }
  #sidebar-second {
    width: 104px;
  }
  #node-aside {
    float: right;
    margin-left: 12px;
    width: 168px;
  }
  body.two-sidebars #main {
    width: 360px;
  }
  body.sidebar-first #main {
    width: 488px;
  }
  body.sidebar-second #main {
    width: 616px;
  }
}
@media only screen and (min-width: 960px) {
  #topbar,
  #header,
  #main-menu,
  #navigation,
  #billboard,
  #placard,
  #main-container,
  #supplement,
  #appendix,
  #rider,
  #footer,
  #secondary-menu,
  #theme-attribution {
    width: 960px;
    min-width: 960px;
  }
  #theme-attribution p,
  #main-menu-list,
  #secondary-menu-list,
  body.no-sidebars #main {
    width: 936px;
  }
  #branding {
    width: 616px;
  }
  #header-annex {
    width: 296px;
  }
  #sidebar-first {
    width: 296px;
  }
  #sidebar-second {
    width: 136px;
  }
  #node-aside {
    width: 216px;
  }
  body.two-sidebars #main {
    width: 456px;
  }
  body.sidebar-first #main {
    width: 616px;
  }
  body.sidebar-second #main {
    width: 776px;
  }
}
@media only screen and (min-width: 1152px) {
  #topbar,
  #header,
  #main-menu,
  #navigation,
  #billboard,
  #placard,
  #main-container,
  #supplement,
  #appendix,
  #rider,
  #footer,
  #secondary-menu,
  #theme-attribution {
    width: 1152px;
    min-width: 1152px;
  }
  #main-menu-list,
  #secondary-menu-list,
  #theme-attribution p,
  body.no-sidebars #main {
    width: 1128px;
  }
  #branding {
    width: 744px;
  }
  #header-annex {
    width: 360px;
  }
  #sidebar-first {
    width: 360px;
  }
  #sidebar-second {
    width: 168px;
  }
  #node-aside {
    width: 264px;
  }
  body.two-sidebars #main {
    width: 552px;
  }
  body.sidebar-first #main {
    width: 744px;
  }
  body.sidebar-second #main {
    width: 936px;
  }
}
#branding {
  text-align: center;
}
#site-logo {
  display: inline-block;
}
.lt-ie8 #site-logo {
  display: inline;
  zoom: 1;
}
#site-name {
  font-size: 44px;
  font-size: 4.4rem;
  font-style: normal;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
  line-height: 1;
  margin: 12px 0 0;
}
body.hide-sitename-branding #site-name {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
body.hide-sitename-branding #site-name.focusable:active,
body.hide-sitename-branding #site-name.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
body.hide-sitename-branding #site-name.focusable:active,
body.hide-sitename-branding #site-name.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
#site-slogan {
  font-size: 18px;
  font-size: 1.8rem;
}
#main-menu,
#secondary-menu,
#navigation {
  text-align: center;
}
#main-menu,
#navigation {
  margin-bottom: 24px;
}
ul.menu {
  margin-bottom: 0;
}
#topbar ul.menu,
#main-menu ul.menu,
#secondary-menu ul.menu,
#navigation ul.menu {
  display: inline-block;
  list-style: none;
  padding: 0;
}
.lt-ie8 #topbar ul.menu,
.lt-ie8 #main-menu ul.menu,
.lt-ie8 #secondary-menu ul.menu,
.lt-ie8 #navigation ul.menu {
  display: inline;
  zoom: 1;
}
#topbar ul.menu li,
#main-menu ul.menu li,
#secondary-menu ul.menu li,
#navigation ul.menu li {
  display: inline-block;
  list-style: none;
  list-style-image: none;
  margin: 0 0 0 0;
  padding: 0;
  white-space: nowrap;
}
.lt-ie8 #topbar ul.menu li,
.lt-ie8 #main-menu ul.menu li,
.lt-ie8 #secondary-menu ul.menu li,
.lt-ie8 #navigation ul.menu li {
  display: inline;
  zoom: 1;
}
#topbar ul.menu li div.views-field-title,
#main-menu ul.menu li div.views-field-title,
#secondary-menu ul.menu li div.views-field-title,
#navigation ul.menu li div.views-field-title {
  line-height: 1em;
}
#topbar ul.menu li a,
#main-menu ul.menu li a,
#secondary-menu ul.menu li a,
#navigation ul.menu li a {
  display: block;
  margin: 0;
  padding-right: 12px;
  padding-left: 12px;
}
#main-menu ul.menu,
#secondary-menu ul.menu,
#navigation ul.menu {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
.item-list ul.pager {
  margin-top: 36px;
}
ul.primary {
  border-bottom: 1px solid #dcdcdc;
}
ul.primary li a {
  background: #f5f5f5;
  background: -moz-linear-gradient(top,#ffffff 0%,#f5f5f5 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#f5f5f5));
  background: -webkit-linear-gradient(top,#ffffff 0%,#f5f5f5 100%);
  background: -o-linear-gradient(top,#ffffff 0%,#f5f5f5 100%);
  background: -ms-linear-gradient(top,#ffffff 0%,#f5f5f5 100%);
  background: linear-gradient(to bottom,#ffffff 0%,#f5f5f5 100%);
  border-color: #ebebeb;
  border-style: solid solid none solid;
  border-width: 1px;
  -webkit-border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  border-radius: 12px 12px 0 0;
  color: #666666;
  display: inline-block;
  font-weight: bold;
  height: auto;
  line-height: 24px;
  margin-right: 6px;
  padding: 0 12px;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  text-shadow: 1px 1px 0px #ffffff;
}
.lt-ie8 ul.primary li a,
.ie9 ul.primary li a {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f5f5f5',GradientType=0);
}
.ie8 ul.primary li a {
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f5f5f5',GradientType=0);
}
.lt-ie8 ul.primary li a {
  display: inline;
  zoom: 1;
}
ul.primary li.active a {
  background: #ffffff;
  background: -moz-linear-gradient(top,#ffffff 0%,#ffffff 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top,#ffffff 0%,#ffffff 100%);
  background: -o-linear-gradient(top,#ffffff 0%,#ffffff 100%);
  background: -ms-linear-gradient(top,#ffffff 0%,#ffffff 100%);
  background: linear-gradient(to bottom,#ffffff 0%,#ffffff 100%);
  border: 1px solid #ebebeb;
  border-bottom: 1px solid #ffffff;
}
.lt-ie8 ul.primary li.active a,
.ie9 ul.primary li.active a {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff',GradientType=0);
}
.ie8 ul.primary li.active a {
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff',GradientType=0);
}
ul.primary li a:hover {
  background: #fafafa;
  background: -moz-linear-gradient(top,#ededed 0%,#fafafa 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ededed),color-stop(100%,#fafafa));
  background: -webkit-linear-gradient(top,#ededed 0%,#fafafa 100%);
  background: -o-linear-gradient(top,#ededed 0%,#fafafa 100%);
  background: -ms-linear-gradient(top,#ededed 0%,#fafafa 100%);
  background: linear-gradient(to bottom,#ededed 0%,#fafafa 100%);
  border-color: #ebebeb;
  border-bottom-color: #f2f2f2;
}
.lt-ie8 ul.primary li a:hover,
.ie9 ul.primary li a:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',endColorstr='#fafafa',GradientType=0);
}
.ie8 ul.primary li a:hover {
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',endColorstr='#fafafa',GradientType=0);
}
.breadcrumb {
  clear: both;
  font-size: 12px;
  font-size: 1.2rem;
  font-style: italic;
}
div.messages {
  margin: 0 0 24px 0;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
.message-success,
.message-info,
.message-warning,
.message-danger {
  padding: 12px;
  margin-bottom: 24px;
}
.message-success p:last-child,
.message-success ul:last-child,
.message-info p:last-child,
.message-info ul:last-child,
.message-warning p:last-child,
.message-warning ul:last-child,
.message-danger p:last-child,
.message-danger ul:last-child {
  margin-bottom: 0;
}
.message-success {
  color: #15991b;
  background-color: #e5fbe6;
  border: 1px solid #8bef8f;
}
.message-info {
  color: #005e99;
  background-color: #ccebff;
  border: 1px solid #66c4ff;
}
.message-warning {
  color: #665b00;
  background-color: #fff180;
  border: 1px solid #ffe300;
}
.message-danger {
  color: #990909;
  background-color: #faa7a7;
  border: 1px solid #f77777;
}
.block {
  margin-bottom: 24px;
  width: 100%;
}
.block:before,
.block:after {
  content: "";
  display: table;
}
.block:after {
  clear: both;
}
.lt-ie8 .block {
  zoom: 1;
}
#node-aside .block {
  margin: 0;
}
h2.block-title {
  font-size: 23px;
  font-size: 2.3rem;
  margin-top: 0;
  margin-bottom: 12px;
}
#block-system-main {
  padding: 0;
}
#block-user-login .form-item-name,
#block-user-login .form-item-pass {
  margin: 12px 0;
  width: 100%;
  max-width: 100%;
}
#block-user-login .form-item-name input,
#block-user-login .form-item-pass input {
  width: 100%;
}
#block-user-login .form-item-name label,
#block-user-login .form-item-pass label {
  line-height: 24px;
  line-height: 2.40000000002rem;
  width: 100%;
}
#block-user-login .item-list li {
  margin-left: 0;
}
#block-search-form {
  text-align: center;
}
#block-search-form form {
  display: inline-block;
}
.lt-ie8 #block-search-form form {
  display: inline;
  zoom: 1;
}
#block-system-powered-by {
  margin-bottom: 0;
}
.book-navigation {
  clear: both;
  padding-top: 24px;
}
#comments {
  clear: both;
  margin-top: 24px;
}
#comments .comment {
  margin-bottom: 24px;
  padding: 12px;
}
#comments .comment header {
  margin-bottom: 0;
}
#comments .comment .comment-title {
  margin-top: 0;
}
#comments .comment .comment-author {
  font-weight: bold;
}
#comments .comment .comment-date {
  font-size: 12px;
  font-size: 1.2rem;
}
#comments .comment .content,
#comments .comment footer {
  clear: both;
  margin-top: 12px;
}
#comments .comment .new {
  color: #005e99;
  margin-left: 12px;
  text-transform: capitalize;
}
#comments .comment ul.inline {
  margin-right: 0;
}
#comments .comment .user-picture img {
  float: right;
  height: auto;
  max-height: 48px;
  margin-left: 12px;
  max-width: 48px;
}
#comments .comment footer p {
  margin-bottom: 0;
}
#comments .comment footer .permalink {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
}
.node {
  margin-bottom: 12px;
}
.node header {
  clear: both;
  margin-bottom: 24px;
}
.node .submitted {
  font-size: 12px;
  font-size: 1.2rem;
  margin-bottom: 12px;
}
.node .node-content {
  margin-bottom: 12px;
}
.node h2.node-title {
  clear: both;
  margin-bottom: 12px;
}
.node .user-picture img {
  float: left;
  height: auto;
  max-height: 20px;
  max-height: 2rem;
  margin-right: 6px;
  max-width: 24px;
}
.node footer {
  margin-top: 12px;
}
.node ul.links {
  margin-left: 0;
}
.node ul.links li.first {
  padding-left: 0;
}
.node-teaser {
  margin-bottom: 12px;
}
.node-teaser:last-child {
  margin-bottom: 0;
}
.profile {
  margin: 12px 0;
}
.profile h3 {
  border: none;
}
.profile dt {
  margin-bottom: 0;
}
.profile dd {
  margin-bottom: 12px;
}
ol.search-results {
  margin: 0;
}
h3.search-result-title {
  border-bottom: none;
  margin-bottom: 0;
  text-decoration: underline;
}
h3.search-result-title a {
  text-decoration: underline;
}
p.search-snippet {
  margin-bottom: 0;
}
p.search-info {
  font-style: italic;
}
.views-view-grid.cols-2 td {
  vertical-align: top;
  width: 50%;
}
.views-view-grid.cols-3 td {
  vertical-align: top;
  width: 33%;
}
.views-view-grid.cols-4 td {
  vertical-align: top;
  width: 25%;
}
.views-view-grid.cols-5 td {
  vertical-align: top;
  width: 20%;
}
html body.admin-menu {
  margin-top: 0 !important;
  padding-top: 29px !important;
}
#admin-menu {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}
a.feed-icon img {
  float: right;
  margin-bottom: 24px;
}
.not-logged-in .contextual-links-wrapper {
  display: none;
}
div.vertical-tabs {
  border-left-color: transparent;
}
div.vertical-tabs ul.vertical-tabs-list li {
  background: #fafafa;
  background: -moz-linear-gradient(top,#ffffff 0%,#fafafa 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#fafafa));
  background: -webkit-linear-gradient(top,#ffffff 0%,#fafafa 100%);
  background: -o-linear-gradient(top,#ffffff 0%,#fafafa 100%);
  background: -ms-linear-gradient(top,#ffffff 0%,#fafafa 100%);
  background: linear-gradient(to bottom,#ffffff 0%,#fafafa 100%);
  font-size: 14px;
  font-size: 1.4rem;
}
.lt-ie8 div.vertical-tabs ul.vertical-tabs-list li,
.ie9 div.vertical-tabs ul.vertical-tabs-list li {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#fafafa',GradientType=0);
}
.ie8 div.vertical-tabs ul.vertical-tabs-list li {
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#fafafa',GradientType=0);
}
div.vertical-tabs ul.vertical-tabs-list li.selected {
  background: transparent;
}
div.vertical-tabs ul.vertical-tabs-list li.summary {
  font-size: 12px;
  font-size: 1.2rem;
}
div.vertical-tabs ul.vertical-tabs-list li.offscreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
div.vertical-tabs ul.vertical-tabs-list li.offscreen.focusable:active,
div.vertical-tabs ul.vertical-tabs-list li.offscreen.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
div.vertical-tabs ul.vertical-tabs-list li.offscreen.focusable:active,
div.vertical-tabs ul.vertical-tabs-list li.offscreen.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
div.vertical-tabs ul.vertical-tabs-list li strong {
  color: #666666;
}
div.vertical-tabs ul.vertical-tabs-list li.selected strong {
  color: #4d4d4d;
}
div.vertical-tabs .vertical-tabs-panes .book-outline-form .form-item {
  margin-top: 24px;
}
small.block-html-id {
  color: #808080;
}
#theme-attribution-wrapper {
  padding: 3px 0;
}
#theme-attribution-wrapper #theme-attribution {
  color: #aaa;
  font-size: 10px;
  font-size: 1rem;
  line-height: 12px;
  line-height: 1.2rem;
}
#theme-attribution-wrapper #theme-attribution p {
  text-align: center;
}
#theme-attribution-wrapper #theme-attribution p a {
  color: #999;
}
.center {
  text-align: center;
}
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
@media only screen and (min-width: 768px) {
  #site-logo {
    float: left;
    margin-right: 12px;
  }
  #site-name,
  #site-slogan {
    text-align: left;
  }
  .block {
    display: inline-block;
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
  }
  .lt-ie8 .block {
    display: inline;
    zoom: 1;
  }
  .region-header-annex .block-solo {
    margin-bottom: 0;
  }
  .block-region-header-annex,
  .block-region-content,
  .block-region-sidebar-first,
  .block-region-sidebar-second,
  .block-region-highlighted {
    margin-left: 0;
    margin-right: 0;
  }
  .block-region-topbar,
  .block-region-navigation,
  .block-region-billboard,
  .block-region-placard,
  .block-region-supplement,
  .block-region-appendix,
  .block-region-rider,
  .block-region-footer {
    width: 744px;
  }
  #main-menu ul.menu,
  #secondary-menu ul.menu,
  #navigation ul.menu {
    margin-left: 12px;
    margin-right: 12px;
  }
  .node-article .field-name-field-image img {
    float: left;
    margin: 0 12px 0 0;
  }
  body.two-sidebars #main .node-article .field-name-field-image img {
    max-width: 168px;
  }
  body.sidebar-first #main  .node-article .field-name-field-image img {
    max-width: 296px;
  }
  body.sidebar-second #main  .node-article .field-name-field-image img {
    max-width: 424px;
  }
  .node .field-name-field-tags {
    clear: both;
    margin: 0 0 24px;
  }
  .node .field-name-field-tags .field-item {
    margin: 0 12px 0 0;
  }
  .node .field-name-field-tags div {
    display: inline;
  }
  body.page-admin-structure-block-demo .block-region {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 24px;
  }
  body.page-admin-structure-block-demo .region-header-annex .block-region,
  body.page-admin-structure-block-demo #main .block-region,
  body.page-admin-structure-block-demo .region-sidebar-first .block-region,
  body.page-admin-structure-block-demo .region-sidebar-second .block-region,
  body.page-admin-structure-block-demo .region-highlighted .block-region {
    margin-left: 0;
    margin-right: 0;
  }
  a.block-demo-backlink,
  a.block-demo-backlink:link,
  a.block-demo-backlink:visited {
    left: auto;
    right: 24px;
  }
}
@media only screen and (min-width: 960px) {
  .block-region-topbar,
  .block-region-navigation,
  .block-region-billboard,
  .block-region-placard,
  .block-region-supplement,
  .block-region-appendix,
  .block-region-rider,
  .block-region-footer {
    width: 936px;
  }
  body.two-sidebars #main .node-article .field-name-field-image img {
    max-width: 216px;
  }
  body.sidebar-first #main  .node-article .field-name-field-image img {
    max-width: 376px;
  }
  body.sidebar-second #main  .node-article .field-name-field-image img {
    max-width: 536px;
  }
}
@media only screen and (min-width: 1152px) {
  .block-region-topbar,
  .block-region-navigation,
  .block-region-billboard,
  .block-region-placard,
  .block-region-supplement,
  .block-region-appendix,
  .block-region-rider,
  .block-region-footer {
    width: 1128px;
  }
  body.two-sidebars #main .node-article .field-name-field-image img {
    max-width: 264px;
  }
  body.sidebar-first #main  .node-article .field-name-field-image img {
    max-width: 456px;
  }
  body.sidebar-second #main  .node-article .field-name-field-image img {
    max-width: 648px;
  }
}
body {
  background: #1a1a1a;
}
#page {
  background: #e6e6e6;
}
h3 {
  border-bottom: 1px dotted #3c3c3c;
}
fieldset {
  border: 1px solid #b3b3b3;
}
thead th {
  background: #dbdbdb;
  border-bottom: 1px solid #b3b3b3;
  border-top: #b3b3b3;
}
tr.odd {
  background: #e6e6e6;
}
tr.even {
  background: #dbdbdb;
}
.sticky-header th,
.sticky-table th {
  border-bottom: 3px solid #66c4ff;
}
abbr[title] {
  border-bottom: 1px dotted #b3b3b3;
}
blockquote {
  color: #666666;
  border-left: 3px solid #666666;
}
hr {
  background: #333333;
}
mark {
  background: #99d8ff;
  color: #000000;
}
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"],
button,
input.form-submit,
a.button {
  background: #ebebeb;
  background: -moz-linear-gradient(top,#ffffff 0%,#ebebeb 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#ebebeb));
  background: -webkit-linear-gradient(top,#ffffff 0%,#ebebeb 100%);
  background: -o-linear-gradient(top,#ffffff 0%,#ebebeb 100%);
  background: -ms-linear-gradient(top,#ffffff 0%,#ebebeb 100%);
  background: linear-gradient(to bottom,#ffffff 0%,#ebebeb 100%);
  border: 2px solid #d9d9d9;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  color: #666666;
  text-shadow: 1px 1px 0px #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-style: normal;
  padding: 0 12px;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  margin-right: 6px;
  text-transform: uppercase;
}
.lt-ie8 input[type="button"],
.ie9 input[type="button"],
.lt-ie8 input[type="submit"],
.ie9 input[type="submit"],
.lt-ie8 input[type="reset"],
.ie9 input[type="reset"],
.lt-ie8 input[type="file"],
.ie9 input[type="file"],
.lt-ie8 button,
.ie9 button,
.lt-ie8 input.form-submit,
.ie9 input.form-submit,
.lt-ie8 a.button,
.ie9 a.button {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ebebeb',GradientType=0);
}
.ie8 input[type="button"],
.ie8 input[type="submit"],
.ie8 input[type="reset"],
.ie8 input[type="file"],
.ie8 button,
.ie8 input.form-submit,
.ie8 a.button {
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ebebeb',GradientType=0);
}
.lt-ie8 input[type="button"],
.lt-ie8 input[type="submit"],
.lt-ie8 input[type="reset"],
.lt-ie8 input[type="file"],
.lt-ie8 button,
.lt-ie8 input.form-submit,
.lt-ie8 a.button {
  display: inline;
  zoom: 1;
}
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="file"]:active,
button:active,
input.form-submit:active,
a.button:active {
  position: relative;
  top: 1px;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="file"]:hover,
button:hover,
input.form-submit:hover,
a.button:hover {
  background: #f2f2f2;
  background: -moz-linear-gradient(top,#e0e0e0 0%,#f2f2f2 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e0e0e0),color-stop(100%,#f2f2f2));
  background: -webkit-linear-gradient(top,#e0e0e0 0%,#f2f2f2 100%);
  background: -o-linear-gradient(top,#e0e0e0 0%,#f2f2f2 100%);
  background: -ms-linear-gradient(top,#e0e0e0 0%,#f2f2f2 100%);
  background: linear-gradient(to bottom,#e0e0e0 0%,#f2f2f2 100%);
}
.lt-ie8 input[type="button"]:hover,
.ie9 input[type="button"]:hover,
.lt-ie8 input[type="submit"]:hover,
.ie9 input[type="submit"]:hover,
.lt-ie8 input[type="reset"]:hover,
.ie9 input[type="reset"]:hover,
.lt-ie8 input[type="file"]:hover,
.ie9 input[type="file"]:hover,
.lt-ie8 button:hover,
.ie9 button:hover,
.lt-ie8 input.form-submit:hover,
.ie9 input.form-submit:hover,
.lt-ie8 a.button:hover,
.ie9 a.button:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0',endColorstr='#f2f2f2',GradientType=0);
}
.ie8 input[type="button"]:hover,
.ie8 input[type="submit"]:hover,
.ie8 input[type="reset"]:hover,
.ie8 input[type="file"]:hover,
.ie8 button:hover,
.ie8 input.form-submit:hover,
.ie8 a.button:hover {
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0',endColorstr='#f2f2f2',GradientType=0);
}
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  background: #f2f2f2;
  background: -moz-linear-gradient(top,#ffffff 0%,#f2f2f2 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#f2f2f2));
  background: -webkit-linear-gradient(top,#ffffff 0%,#f2f2f2 100%);
  background: -o-linear-gradient(top,#ffffff 0%,#f2f2f2 100%);
  background: -ms-linear-gradient(top,#ffffff 0%,#f2f2f2 100%);
  background: linear-gradient(to bottom,#ffffff 0%,#f2f2f2 100%);
  color: #000000;
}
.lt-ie8 input[type="date"],
.ie9 input[type="date"],
.lt-ie8 input[type="datetime"],
.ie9 input[type="datetime"],
.lt-ie8 input[type="datetime-local"],
.ie9 input[type="datetime-local"],
.lt-ie8 input[type="email"],
.ie9 input[type="email"],
.lt-ie8 input[type="month"],
.ie9 input[type="month"],
.lt-ie8 input[type="number"],
.ie9 input[type="number"],
.lt-ie8 input[type="password"],
.ie9 input[type="password"],
.lt-ie8 input[type="search"],
.ie9 input[type="search"],
.lt-ie8 input[type="tel"],
.ie9 input[type="tel"],
.lt-ie8 input[type="text"],
.ie9 input[type="text"],
.lt-ie8 input[type="time"],
.ie9 input[type="time"],
.lt-ie8 input[type="url"],
.ie9 input[type="url"],
.lt-ie8 input[type="week"],
.ie9 input[type="week"],
.lt-ie8 select,
.ie9 select,
.lt-ie8 textarea,
.ie9 textarea {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f2f2f2',GradientType=0);
}
.ie8 input[type="date"],
.ie8 input[type="datetime"],
.ie8 input[type="datetime-local"],
.ie8 input[type="email"],
.ie8 input[type="month"],
.ie8 input[type="number"],
.ie8 input[type="password"],
.ie8 input[type="search"],
.ie8 input[type="tel"],
.ie8 input[type="text"],
.ie8 input[type="time"],
.ie8 input[type="url"],
.ie8 input[type="week"],
.ie8 select,
.ie8 textarea {
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f2f2f2',GradientType=0);
}
#topbar-wrapper {
  background: #333333;
  border-bottom: 3px solid #f2f2f2;
}
#header-wrapper {
  background: #005e99;
}
#navigation-wrapper {
  background: #333333;
  margin-bottom: 24px;
}
#rider-wrapper {
  background: #333333;
  border-bottom: 1px solid #1a1a1a;
}
#footer-wrapper {
  border-top: 1px solid #333333;
}
#footer-wrapper,
#secondary-menu-wrapper,
#theme-attribution-wrapper {
  background: #1a1a1a;
}
#branding {
  padding-top: 12px;
  padding-bottom: 12px;
}
#header-annex {
  padding-top: 12px;
}
#rider,
#footer {
  padding-top: 24px;
}
#main {
  background: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #b3b3b3;
  border-top: 1px solid #808080;
  margin-bottom: 24px;
  padding: 12px;
}
#site-name a {
  color: #ff823a;
  text-shadow: 1px 0 0 #000000, -1px 0 0 #000000, 0 1px 0 #000000, 0 -1px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
}
.lt-ie9 #site-name a {
  filter: progid:DXImageTransform.Microsoft.Glow(Color=#000000,Strength=1);
}
#site-slogan {
  color: #cccccc;
}
#main-menu,
#navigation {
  margin-bottom: 0;
}
#topbar ul.menu a,
#main-menu ul.menu a,
#secondary-menu ul.menu a,
#navigation ul.menu a {
  color: #f2f2f2;
  padding-top: 6px;
  padding-bottom: 6px;
  text-transform: uppercase;
}
#topbar ul.menu a:hover,
#main-menu ul.menu a:hover,
#secondary-menu ul.menu a:hover,
#navigation ul.menu a:hover {
  background: #d34d00;
  color: #ffffff;
}
.search-results .search-url {
  color: #15991b;
}
.search-results .search-info {
  color: #000000;
}
.vertical-tab-button-error a {
  border: 1px solid #990909;
}
.comment {
  background: #f2f2f2;
  padding: 12px;
  border-top: 1px solid #808080;
  border: 1px solid #b3b3b3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.comment h3.comment-title {
  margin-bottom: 0;
}
.block h2.block-title {
  color: #000;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 0;
  padding-bottom: 6px;
  text-transform: uppercase;
}
#topbar .block,
#header-annex .block {
  color: #cccccc;
}
#topbar .block h2.block-title,
#header-annex .block h2.block-title {
  border-bottom: none;
  color: #f0f0f0;
}
#topbar .block a,
#header-annex .block a {
  color: #66c4ff;
}
#topbar .block a:hover,
#header-annex .block a:hover {
  color: #ffa26d;
}
#topbar .block.block-solo,
#header-annex .block.block-solo {
  margin-bottom: 0;
}
.block.block-region-highlighted {
  background: #f2f2f2;
  padding: 12px;
  border: 1px dashed #b3b3b3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px -1px 3px #b3b3b3, 1px 0px 3px #b3b3b3, 0px 1px 3px #b3b3b3, -1px 0px 3px #b3b3b3;
  -moz-box-shadow: 0px -1px 3px #b3b3b3, 1px 0px 3px #b3b3b3, 0px 1px 3px #b3b3b3, -1px 0px 3px #b3b3b3;
  box-shadow: 0px -1px 3px #b3b3b3, 1px 0px 3px #b3b3b3, 0px 1px 3px #b3b3b3, -1px 0px 3px #b3b3b3;
}
.lt-ie9 .block.block-region-highlighted {
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.Shadow(Color=#b3b3b3,Strength=15,Direction=0), progid:DXImageTransform.Microsoft.Shadow(Color=#b3b3b3,Strength=15,Direction=90), progid:DXImageTransform.Microsoft.Shadow(Color=#b3b3b3,Strength=15,Direction=180), progid:DXImageTransform.Microsoft.Shadow(Color=#b3b3b3,Strength=15,Direction=270);
}
#node-aside .block {
  background: #f0f0f0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #b3b3b3;
  border-top: 1px solid #808080;
  padding: 12px;
}
#node-aside .block h2.block-title {
  background: #ffffff;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  -webkit-border-radius: 0 0 6px 0;
  -moz-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
  float: left;
  left: -13px;
  top: -13px;
  padding: 0 12px 6px 0;
  position: relative;
}
#node-aside .block .block-content {
  clear: both;
}
#placard .block,
#sidebar-first .block,
#supplement .block {
  background: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #b3b3b3;
  border-top: 1px solid #808080;
  padding: 12px;
}
#placard .block h2.block-title,
#sidebar-first .block h2.block-title,
#supplement .block h2.block-title {
  background: #e6e6e6;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  -webkit-border-radius: 0 0 6px 0;
  -moz-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
  float: left;
  left: -13px;
  top: -13px;
  padding: 0 12px 6px 0;
  position: relative;
}
#placard .block .block-content,
#sidebar-first .block .block-content,
#supplement .block .block-content {
  clear: both;
}
#sidebar-second .block,
#footer .block {
  font-size: 12px;
  font-size: 1.2rem;
}
#sidebar-second .block h2.block-title {
  color: #d34d00;
  border-bottom: 1px dashed #d34d00;
}
#rider .block {
  color: #b3b3b3;
}
#rider .block h2.block-title {
  color: #e6e6e6;
  border-bottom: 1px dashed #b3b3b3;
}
#rider .block a {
  color: #33b0ff;
}
#rider .block a:hover {
  color: #ff823a;
}
#footer .block {
  color: #999999;
}
#footer .block h2.block-title {
  color: #cccccc;
}
#footer .block a {
  color: #009dff;
}
#footer .block a:hover {
  color: #ff823a;
}
#block-system-main {
  background: transparent;
}
#block-user-login label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#block-user-login label.focusable:active,
#block-user-login label.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
#block-user-login label.focusable:active,
#block-user-login label.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
#block-user-login .form-item-name input {
  background: url(/sites/all/themes/negosyante/images/login-sprite.png) no-repeat 0 0 #ffffff;
  padding-left: 20px;
}
#block-user-login .form-item-pass input {
  background: url(/sites/all/themes/negosyante/images/login-sprite.png) no-repeat 0 -24px #ffffff;
  padding-left: 20px;
}
#block-user-login .item-list ul li {
  list-style-position: inside;
}
#topbar #block-user-login {
  display: inline;
}
#topbar #block-user-login .form-item-name,
#topbar #block-user-login .form-item-pass {
  float: left;
  margin: 0 6px 0 0;
  width: 25%;
}
#topbar #block-user-login .form-item-name label,
#topbar #block-user-login .form-item-pass label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#topbar #block-user-login .form-item-name label.focusable:active,
#topbar #block-user-login .form-item-name label.focusable:focus,
#topbar #block-user-login .form-item-pass label.focusable:active,
#topbar #block-user-login .form-item-pass label.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
#topbar #block-user-login .form-item-name label.focusable:active,
#topbar #block-user-login .form-item-name label.focusable:focus,
#topbar #block-user-login .form-item-pass label.focusable:active,
#topbar #block-user-login .form-item-pass label.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
#topbar #block-user-login .form-item-name input,
#topbar #block-user-login .form-item-pass input {
  float: left;
  width: auto;
}
#topbar #block-user-login .item-list ul li {
  font-size: 0.833em;
  list-style: none;
  list-style-image: none;
}
#topbar #block-user-login .form-actions {
  float: left;
  margin: 0 0.5em 0 0;
}
#topbar #block-user-login .form-item-openid-identifier,
#topbar #block-user-login .item-list ul.openid-links {
  display: none !important;
  visibility: hidden;
}
#topbar #block-user-login .item-list {
  float: left;
  font-size: 0.833em;
  margin-right: 0.5em;
  text-align: left;
}
#topbar #block-user-login .item-list ul {
  padding: 0;
  margin-bottom: 0;
}
#topbar #block-user-login .item-list ul li {
  line-height: 1.5em;
}
#topbar #block-user-login .item-list ul li.first.last {
  line-height: 3em;
}
#topbar #block-user-login .block-content {
  max-width: 744px;
}
@media only screen and (min-width: 768px) {
  body.two-sidebars #main .node-article .field-name-field-image img {
    max-width: 138px;
  }
  body.sidebar-first #main  .node-article .field-name-field-image img {
    max-width: 266px;
  }
  body.sidebar-second #main  .node-article .field-name-field-image img {
    max-width: 394px;
  }
}
@media only screen and (min-width: 960px) {
  body.two-sidebars #main .node-article .field-name-field-image img {
    max-width: 186px;
  }
  body.sidebar-first #main  .node-article .field-name-field-image img {
    max-width: 346px;
  }
  body.sidebar-second #main  .node-article .field-name-field-image img {
    max-width: 506px;
  }
}
@media only screen and (min-width: 1152px) {
  body.two-sidebars #main .node-article .field-name-field-image img {
    max-width: 234px;
  }
  body.sidebar-first #main  .node-article .field-name-field-image img {
    max-width: 426px;
  }
  body.sidebar-second #main  .node-article .field-name-field-image img {
    max-width: 618px;
  }
}
