// For styles applied to all media regardless of width, which can be overriden for other media.

body {
  background: darken(@colorWhite, 90%);
}

#page {
  background: @bodyColor;
}

h3 {
  border-bottom: 1px dotted darken(@bodyColor, 66.66%);
}

fieldset {
  border: 1px solid darken(@bodyColor, 20%);
}

thead th {
  background: darken(@bodyColor, 4%);
  border-bottom: 1px solid darken(@bodyColor, 20%);
  border-top: darken(@bodyColor, 20%);
}

tr.odd {
  background: @bodyColor;
}

tr.even {
  background: darken(@bodyColor, 4%);
}

.sticky-header th, .sticky-table th {
  border-bottom: @size4 solid lighten(@colorBase, 40%);
}

abbr[title] {
  border-bottom: 1px dotted lighten(@textColor, 50%);
}

blockquote {
  color: lighten(@textColor, 20%);
  border-left: @size4 solid lighten(@textColor, 20%);
}

hr {
  background: @textColor;
}

mark {
  background: lighten(@colorBase, 50%);
  color: darken(@colorBase, 100%);
}

// buttons
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"],
button,
input.form-submit,
a.button {
  .button();
  margin-right: @size3;
  text-transform: uppercase;
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  .vertical-gradient(@colorWhite, darken(@colorWhite, 5%));
  color: darken(@colorWhite, 100%);
}

.wrapper {} // Target all full-width wrappers. To use, see groundwork/resources/templates/README.txt.
#topbar-wrapper {
  background: darken(@colorWhite, 80%);
  border-bottom: @size4 solid darken(@colorWhite, 5%)
}
#header-wrapper {
  background: @colorBlue;
}
#navigation-wrapper {
  background: darken(@colorWhite, 80%);
  margin-bottom: @size1;
}
#rider-wrapper {
  background: darken(@colorWhite, 80%);
  border-bottom: 1px solid darken(@colorWhite, 90%);
}
#footer-wrapper {
  border-top: 1px solid darken(@colorWhite, 80%);
}
#footer-wrapper,
#secondary-menu-wrapper,
#theme-attribution-wrapper {
  background: darken(@colorWhite, 90%);
}
#branding {
  padding-top: @size2;
  padding-bottom: @size2;
}
#header-annex {
  padding-top: @size2;
}
#rider,
#footer {
  padding-top: @size1;
}
#main {
  background: @colorWhite;
  .border-radius(@size3);
  border: 1px solid darken(@colorWhite, 30%);
  border-top: 1px solid darken(@colorWhite, 50%);
  margin-bottom: 24px;
  padding: @size2;
}
#site-name {
  a {
    color: rgb(255, 130, 58);
    .text-stroke(@stroke: darken(@colorWhite, 100%));
  }
}
#site-slogan {
  color: darken(@colorWhite, 20%);
}

// NAVIGATION LINKS
#main-menu,
#navigation {
  margin-bottom: 0;
}

ul.menu {
  #topbar &,
  #main-menu &,
  #secondary-menu &,
  #navigation & {
    a {
      color: darken(@colorWhite, 5%);
      padding-top: @size3;
      padding-bottom: @size3;
      text-transform: uppercase;
      &:hover {
        background: darken(@colorAccent, 20%);
        color: @colorWhite;
      }
    }
  }
}

// SEARCH
.search-results  {
  .search-url {
    color: @colorGreen;
  }
  .search-info {
    color: darken(@colorGreen, 50%);
  }
}

// VERTICAL TABS
.vertical-tab-button-error a {
  border: 1px solid @colorRed;
}
// COMMENTS
.comment {
  background: darken(@colorWhite, 5%);
  padding: @size2;
  border-top: 1px solid darken(@colorWhite, 50%);
  border: 1px solid darken(@colorWhite, 30%);
  .border-radius(@size3);
  h3.comment-title {
    margin-bottom: 0;
  }
}
// BLOCKS
.block {
  h2.block-title {
    color: darken(@colorWhite, 100%);
    .font-size();
    margin-bottom: 0;
    padding-bottom: @size3;
    text-transform: uppercase;
  }
  #topbar &,
  #header-annex & {
    color: darken(@colorWhite, 20%);
    h2.block-title {
      border-bottom: none;
      color: darken(@colorWhite, 6%);
    }
    a {
      color: lighten(@linkColor, 40%);
      &:hover {
        color: lighten(@colorAccent, 10%);
      }
    }
    &.block-solo {
      margin-bottom: 0;
    }
  }
  &.block-region-highlighted {
    background: darken(@colorWhite, 5%);
    padding: @size2;
    border: 1px dashed darken(@colorWhite, 30%);
    .border-radius(@size3);
    .border-shadow(@color: darken(@colorWhite, 30%));
  }
  #node-aside & {
    background: darken(@colorWhite, 6%);
    .border-radius(@size3);
    border: 1px solid darken(@colorWhite, 30%);
    border-top: 1px solid darken(@colorWhite, 50%);
    padding: @size2;
    h2.block-title {
      background: @colorWhite;
      border-right: 1px solid darken(@colorWhite, 50%);
      border-bottom: 1px solid darken(@colorWhite, 50%);
      .border-radii(0, 0, @size3, 0);
      float: left;
      left: -13px;
      top: -13px;
      padding: 0 @size2 @size3 0;
      position: relative;
    }
    .block-content {
      clear: both;
    }
  }
  #placard &,
  #sidebar-first &,
  #supplement & {
    background: @colorWhite;
    .border-radius(@size3);
    border: 1px solid darken(@colorWhite, 30%);
    border-top: 1px solid darken(@colorWhite, 50%);
    padding: @size2;
    h2.block-title {
      background: @bodyColor;
      border-right: 1px solid darken(@colorWhite, 50%);
      border-bottom: 1px solid darken(@colorWhite, 50%);
      .border-radii(0, 0, @size3, 0);
      float: left;
      left: -13px;
      top: -13px;
      padding: 0 @size2 @size3 0;
      position: relative;
    }
    .block-content {
      clear: both;
    }
  }
  #sidebar-second &,
  #footer & {
    .font-size(@msSmaller1);
  }
  #sidebar-second & {
    h2.block-title {
      color: darken(@colorAccent, 20%);
      border-bottom: 1px dashed darken(@colorAccent, 20%);
    }
  }
  #rider & {
    color: darken(@colorWhite, 30%);
    h2.block-title {
      color: darken(@colorWhite, 10%);
      border-bottom: 1px dashed darken(@colorWhite, 30%);
    }
    a {
      color: lighten(@linkColor, 30%);
      &:hover {
        color: @colorAccent;
      }
    }
  }
  #footer & {
    color: darken(@colorWhite, 40%);
    h2.block-title {
      color: darken(@colorWhite, 20%);
    }
    a {
      color: lighten(@linkColor, 20%);
      &:hover {
        color: @colorAccent;
      }
    }
  }
}

#block-system-main {
  background: transparent;
}

#block-user-login {
  .form-item-name,
  .form-item-pass {
    label {
      .visually-hidden;
    }
  }
  .form-item-name {
    input {
      background: url("../images/login-sprite.png") no-repeat 0 0 @colorWhite;
      padding-left: 20px;
    }
  }
  .form-item-pass {
    input {
      background: url("../images/login-sprite.png") no-repeat 0 -24px @colorWhite;
      padding-left: 20px;
    }
  }
  .item-list ul li {
    list-style-position: inside;
  }
  #topbar & {
    .horizontal-login-block();
    .block-content {
      max-width: 744px;
    }
  }
}
