// Custom style declarations for media with narrow width and wider.
.max-unit(@units:1) {
  max-width: (@unitNarrowWidth + ((@units - 1) * (@unitNarrowWidth + @gridUnitGutter))) - 30;
}

.node-article .field-name-field-image img {
  body.two-sidebars #main & {
    .max-unit(@gridTwoSidebarsMain - @gridNodeAside);
  }
  body.sidebar-first #main  & {
    .max-unit(@gridSidebarFirstMain - @gridNodeAside);
  }
  body.sidebar-second #main  & {
    .max-unit(@gridSidebarSecondMain - @gridNodeAside);
  }
}
